@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap');

/* GENERAL */

html, body, main{
    height: 100%;
    margin: 0;
}

body, main{
    display: flex;
    flex-direction: column;
}

#app {
  font-family: "Space Grotesk", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
    display: flex;
    background-color: black;
    padding: 12px 48px;
    justify-content: space-between;
    align-items: center;
  }

.router{
  box-sizing: border-box;
}

.router > a{
  padding: 0.5rem;
  position: relative;
}

.router > a:hover{
  color: #F3DFA2;
}

.router > a::after{
  content: "";
  display: block;
  position: absolute;
  height: 0.1em;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F3DFA2;
  transform: scaleX(0);
  visibility: hidden;
  transition: all 0.3 ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.router > a:hover::after, .router > a:focus::after{
  transform: scaleX(1);
  visibility: visible;
}

header > h1{
  margin: 0 auto 0 0;
  padding: 6px 0;
  color: white;
  font-size: 31.5px;
  line-height: 48px;
}


footer{
    flex-shrink: 0;
    display: flex;
    background-color: black;
    color: white;
    padding-top: 5px;
    justify-content: center;
}


#content-quiz{
    flex: 1 0 auto;
}

#content{
  flex: 1 0 auto;
  padding: 12px 48px;
}

.game{
    display: flex;
    margin-bottom: 50px;
}

.controls{
    width: 40%;
}

.background-workspace{
    width: 50%;
    height: 900px;
    border: 3px solid black;
    background-color: #efe6dd;
    float: right;
}

a {
display: inline-block;
margin-right: 20px;
color: #fa648f;
transition: 0.2 ease color;
text-decoration: none;
}

a.router-link-active,
a:hover {
color: #F3DFA2;
}

button{
  margin: 2px;
  background-color: #fa648f;
  padding: 0 12px;
  border: 3px solid #000;
  font-family: "Space Grotesk",sans-serif;
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
  height: 36px;
  border-radius: 0;
}

button:hover, button:focus, button:focus-visible{
  background-color: #F3DFA2;
}

button:disabled{
  background-color: #efe6dd;
}

.rectangle_title{
  display: block;
  background: linear-gradient(to top left,transparent, #fa648f 0) top left/40% 40% no-repeat, transparent;
  margin-left: 0px;
}


/* HOME */


.home_image {
  width: 400px;
  padding: 0px 10px;
  margin-right: 0px;
  float: left;
}

@media only screen and (max-width: 1300px){
  .home_image{
    width: 300px;
  }
}

@media only screen and (max-width: 800px){
  .home_image{
    width: 200px;
  }
}

.homeDescription{
  width: auto;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.homeDescription p{
  padding: 0.5em;
  padding-bottom: 2em;
}

.quizzes{
  margin-left: auto;
  margin-right: auto;
}

.highlight-quiz{
  background-color: #fa648f;
  color: #000;
  padding: 5px;
  margin: 3px;
  margin-left: 3px;
  font-family: "Space Grotesk";
  margin-left: 0px;
  border: #F3DFA2 solid 3px;
}

.highlight-quiz:hover{
  background-color: #F3DFA2;
}

/* GO BACK COMPONENT */

.go-back{
  cursor: pointer;
  padding-left: 10px; 
  display: flex;
  background-color: white;
  border: none;
  align-items: center;
  margin-bottom: 2em;
}

.go-back:hover, .go-back:focus, .go-back:focus-visible{
  background-color: white;
}

.go-back span{
  position: relative;
  display: inline-block;
}

.go-back span::after{
  content: "";
  display: block;
  position: absolute;
  height: 0.1em;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000;
  transform: scaleX(0);
  visibility: hidden;
  transition: all 0.3 ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.go-back span:hover::after, .go-back span:focus::after{
  transform: scaleX(1);
  visibility: visible;
}

.back_arrow{
  height: 20px;
  padding-right: 5px;
}

/* QUIZ SHOW VIEW*/

.title_image {
  width: 100px;
  float: left;
  margin-right: 0px;
}

/*
.quizTitle{
  background-color: #fa648f;
  height: 80px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.quizTitle h1{
  padding: 12px 48px;
  margin: 0;
}

.quizDescription{
  padding: 12px 48px;
}*/

.quizDescription p{
  background-color: #efe6dd;
  padding: 0.5em;
  max-width: max-content;
}

.quizForm{
  display: flex;
  padding: 12px 48px;
}


.quizQuestContainer{
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* IMAGECROP COMPONENT */

.quizImage{
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

[class^="imagePart"]{
  visibility: hidden;
  border: 3px solid #efe6dd;
}

.active{
  visibility: visible;
}

.question{
  font-size: 20px;
}

.quizQuestion{
  padding-bottom: 10px;
  padding-left: 10px;
  border: 3px solid #efe6dd;
  border-radius: 15px;
}


@media only screen and (max-width: 1050px){
  .quizForm{
    justify-content: flex-start;
    flex-direction: column;
  }

  .quizImage{
    margin-top: 3em;
  }
}
