@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap');

/* GENERAL */

html, body{
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}

#app {
  font-family: "Space Grotesk", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: .5rem 1rem;
    background-color: black;
  }

nav {
    margin-left: auto;
  }

header > h1 {
    color: #fa648f;
    padding-left: 20px;
  }

footer{
    flex-shrink: 0;
    display: flex;
    background-color: black;
    color: white;
    padding-top: 5px;
    justify-content: center;
}


#content{
    flex: 1 0 auto;
    /*padding: 12px 48px;*/
}

.game{
    display: flex;
    margin-bottom: 50px;
}

.controls{
    width: 40%;
}

.background-workspace{
    width: 50%;
    height: 900px;
    border: 3px solid black;
    background-color: #efe6dd;
    float: right;
}

a {
    text-decoration: none;
  }

#nav {
position: relative;
top: 0;
left: 0;
right: 0;
margin-top: 0;
padding: 30px;
display: flex;
align-items: center;
z-index: 2;
}

a {
display: inline-block;
margin-right: 20px;
color: #fa648f;
transition: 0.2 ease color;
}

a.router-link-active,
a:hover {
color: #F3DFA2;
}

button{
  background-color: #fa648f;
  padding: 0 12px;
  border: 3px solid #000;
  font-family: "Space Grotesk",sans-serif;
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
  height: 36px;
  border-radius: 0;
}

button:hover, button:focus, button:focus-visible{
  background-color: #F3DFA2;
}

/* GO BACK COMPONENT */

.go-back{
  cursor: pointer;
  padding-left: 10px; 
  display: flex;
  background-color: white;
  border: none;
  align-items: center;
  margin-bottom: 2em;
}

.go-back:hover, .go-back:focus, .go-back:focus-visible{
  background-color: white;
}

.go-back span{
  position: relative;
  display: inline-block;
}

.go-back span::after{
  content: "";
  display: block;
  position: absolute;
  height: 0.1em;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000;
  transform: scaleX(0);
  visibility: hidden;
  transition: all 0.3 ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.go-back span:hover::after, .go-back span:focus::after{
  transform: scaleX(1);
  visibility: visible;
}

.back_arrow{
  height: 20px;
  padding-right: 5px;
}

/* QUIZ SHOW VIEW*/

.quizTitle{
  background-color: #fa648f;
  height: 80px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.quizTitle h1{
  padding: 12px 48px;
  margin: 0;
}

.quizDescription{
  padding: 12px 48px;
}

.quizDescription p{
  background-color: #F3DFA2;
  padding: 0.5em;
  max-width: max-content;
}

.quizForm{
  display: flex;
  padding: 12px 48px;
}


.quizQuestContainer{
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* IMAGECROP COMPONENT */

.quizImage{
  flex: 2;
  display: flex;
  flex-wrap: wrap;
}

[class^="imagePart"]{
  visibility: hidden;
}

.active{
  visibility: visible;
}


@media only screen and (max-width: 1050px){
  .quizForm{
    justify-content: flex-start;
    flex-direction: column;
  }

  .quizImage{
    margin-top: 3em;
  }
}